@import "../../setting/sizes";

.card {
  &__pos {
    display: grid;
    justify-content: center;
  }
  &__wrapper {
    margin-top: 30px;
    column-gap: 30px;
    row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, max-content);
    @media (max-width: $md) {
      max-width: 690px;
      width: 100%;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(3, max-content);
    }
    @media (max-width: $xs) {
      max-width: 290px;
      width: 100%;
      grid-template-columns: repeat(1, max-content);
      grid-template-rows: repeat(6, max-content);
    }

    &-js {
      display: none;
    }
  }
  &__container {
    max-width: 350px;
    background-color: #e1ede6;
    @media (max-width: $md) {
      max-width: 330px;
      width: 100%;
    }
    @media (max-width: $sm) {
      max-width: 240px;
      width: 100%;
    }
    @media (max-width: $xs) {
      max-width: 290px;
      width: 100%;
    }
  }
  &__img {
    margin: 20px;

    max-width: 310px;
    width: 100%;
    @media (max-width: $md) {
      max-width: 290px;
      width: 100%;
    }
    @media (max-width: $sm) {
      margin-bottom: 15px;
      max-width: 200px;
      width: 100%;
    }
    @media (max-width: $xs) {
      margin-bottom: 15px;
      max-width: 250px;
      width: 100%;
    }
  }
  &__block {
    display: grid;
    grid-template-rows: repeat(5, max-content);

    padding-left: 20px;
    padding-right: 20px;
  }
  &__name {
    color: #86928b;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (max-width: $sm) {
      font-size: 16px;
    }
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 8px;

    color: #2c2d35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: $sm) {
      margin-bottom: 10px;
      font-size: 24px;
    }
  }
  &__description {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: $sm) {
      font-size: 16px;
    }
  }
  &__price {
    margin-top: 30px;
    margin-bottom: 20px;

    color: #598d66;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: $sm) {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  &__btn {
    margin-bottom: 30px;
    display: flex;
    width: 310px;
    height: 65px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid #598d66;

    transition: background-color 0.3s ease;
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: $md) {
      max-width: 290px;
      width: 100%;
    }
    @media (max-width: $sm) {
      font-size: 18px;
      max-width: 290px;
      width: 100%;
      height: 65px;
    }
    @media (max-width: $xs) {
      font-size: 18px;
      max-width: 250px;
      width: 100%;
      height: 50px;
    }

    &:hover {
      color: #f4f6f5;
      background: #598d66;
      transition: background-color 0.3s ease;
    }
    &:focus {
      color: #2c2d35;
      border: 2px solid #598d66;
      background: #d4e8d9;
    }
    &:active {
      color: #fff;
      background: #376b44;
    }
  }

  // Стили для счетчика
}
.active {
  display: grid;
}

.add_cart {
  display: none;
}

.header__menu-itm-cart-counter {
  display: inline-block;
}

.scroll-container {
  width: 100%; /* Ширина контейнера, можете настроить по своему усмотрению */
  overflow-x: auto; /* Включает горизонтальный скролл, если контент не помещается в контейнер */
  white-space: nowrap; /* Запрещает перенос строк, чтобы объекты не переносились на новую строку */
}
.scroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
