@import "../../components/mixins";

.catalog {
  &__wrapper {
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  &__title {
    @include text-style(40px, 500, #2c2d35, 110%);
  }
  &__countries {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 32px;
  }
  &__btn {
    padding: 10px 20px;
    border-radius: 20px;
    background: #d4e8d9;
    border: 2px solid transparent;
    @include text-style(20px, 500, #2c2d35, normal);

    &:hover {
      color: #f4f6f5;
      background: #598d66;
      transition: background-color 0.3s ease;
    }
    &:focus {
      color: #2c2d35;
      border: 2px solid #598d66;
      background: #d4e8d9;
    }
    &:active {
      color: #f4f6f5;
      background: #376b44;
    }
  }
}
