@import "../setting/sizes";
.container {
  margin-left: 165px;
  margin-right: 165px;
  @media (max-width: $md) {
    margin-left: 39px;
    margin-right: 39px;
  }
  @media (max-width: $sm) {
    margin-left: 33px;
    margin-right: 33px;
  }
  @media (max-width: $xs) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

// .main,
// .catalog,
// .new__wrapper,
// .team,
// .footer {
//   display: none;
// }

// .main,
// .catalog,
// .new__wrapper,
// .team {
//   display: block;
// }
