@import "../../setting/sizes";

.open {
  display: flex !important;
}

.header {
  padding: 33px 0 32px 0;
  height: 100px;
  background: #e1ede6;
  @media (max-width: $md) {
    gap: 102px;
  }
  @media (max-width: $sm) {
    height: 123px;
    padding: 16px 0 16px 0;
  }

  @media (max-width: $xs) {
    background: #fff;
    height: 68px;
    padding: 16px 15px;
  }

  &__wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 495px;
    @media (max-width: $md) {
      max-width: 768px;
      width: 100%;
      gap: 101px;
    }

    @media (max-width: $sm) {
      max-width: 576px;
      width: 100%;
      grid-template-columns: none;
      grid-template-rows: repeat(2, max-content);
      gap: 16px;
    }
    @media (max-width: $xs) {
      max-width: 576px;
      width: 100%;
      grid-template-columns: none;
      grid-template-rows: none;
      gap: 0px;
    }
    &-mob {
      width: 100%;
      display: none;
      background: #e1ede6;

      @media (max-width: $xs) {
        display: grid;
        padding: 0;
      }
    }
  }

  &__content {
    display: flex;
    height: 35px;
    align-items: center;
    gap: 8px;

    @media (max-width: $sm) {
      justify-content: center;
    }
    @media (max-width: $xs) {
      max-width: 290px;
      width: 100%;
    }
  }

  &__name {
    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__line {
    display: none;
    width: 510px;
    height: 1px;
    background: #c3d1c6;

    @media (max-width: $sm) {
      display: block;
    }
    @media (max-width: $sm) {
      display: none;
    }
  }

  &__menu {
    height: 23px;

    column-gap: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content max-content max-content;

    @media (max-width: $sm) {
      max-width: 510px;
      width: 100%;
      justify-content: space-between;
    }
    @media (max-width: $xs) {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
      margin-top: 68px;
      position: fixed;
      height: 433px;
      width: 100%;
      max-width: 320px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 50;
      padding: 76px 188px 126px 15px;
      overflow-y: auto;
      background: #e1ede6;
      animation: burgerAnimation 0, 0.4s;

      overflow: hidden;
    }
    &-mob {
      display: none;
      @media (max-width: $xs) {
        align-items: center;
        display: grid;
        justify-content: space-between;
        grid-template-columns: max-content max-content;
      }
    }
    &-itm {
      padding: 0px 5px;
      color: #2c2d35;
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      &:hover {
        transition: color 0.3s ease;
        color: #598d66;
      }
      &:focus {
        color: #2c2d35;
        background: #d4e8d9;
      }
      &:active {
        color: #376b44;
      }
    }

    &-itm-cart {
      color: #2c2d35;
      padding: 1px;
      display: flex;
      height: 24px;

      @media (max-width: $xs) {
        display: none;
      }

      &:hover {
        transition: color 0.3s ease;
        color: #598d66;
      }
      &:focus {
        color: #598d66;

        background: #d4e8d9;
      }
      &:active {
        color: #376b44;
      }
      &-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1px;

        width: 13px;
        height: 13px;
        position: absolute;

        border-radius: 50%;

        color: #fff;
        background: #598d66;
        text-align: center;
        font-family: Raleway;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &-mob {
          @media (max-width: $xs) {
            display: flex;

            align-items: center;
            justify-content: center;
            margin-top: 1px;

            width: 13px;
            height: 13px;
            position: absolute;

            border-radius: 50%;

            color: #fff;
            background: #598d66;
            text-align: center;
            font-family: Raleway;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
      &-mob {
        width: fit-content;
        color: #2c2d35;
        padding: 1px;
        display: flex;
        height: auto;
        padding: 15px 0;

        @media (max-width: $xs) {
          display: block;
        }

        &:hover {
          transition: color 0.3s ease;
          color: #598d66;
        }
        &:focus {
          color: #598d66;

          background: #d4e8d9;
        }
        &:active {
          color: #376b44;
        }
      }
    }
  }
}

.close-icon {
  display: none;
  position: fixed; /* Устанавливаем абсолютное позиционирование */
  z-index: 50;
}
/* Стили для SVG-изображений */
.menu-icon svg {
  width: 30px;
  height: 30px;
  fill: #000; /* Цвет иконок */
}
