@import "../../setting/sizes";

//main

.main {
  &__wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 60px;
    @media (max-width: $md) {
      max-width: 690px;
      width: 100%;
      column-gap: 30px;
    }
    @media (max-width: $sm) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  &__img {
    max-width: 540px;
    width: 100%;
    height: 621px;
    @media (max-width: $md) {
      width: 100%;
      height: 380px;
    }
    @media (max-width: $sm) {
      max-width: 195px;
      width: 100%;
      height: 239px;
    }
  }
  &__block {
    margin-top: 145px;
    max-width: 528px;
    width: 100%;
    // height: 331px;
    @media (max-width: $md) {
      margin-top: 35px;
      margin-bottom: 37px;
      max-width: 330px;
      width: 100%;
    }
    @media (max-width: $sm) {
      margin-top: 0;
      margin-bottom: 0;
      max-width: 285px;
      width: 100%;
      // height: 239px;
    }
  }
  &__title {
    color: #2c2d35;
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 66px */

    @media (max-width: $md) {
      font-size: 40px;
    }
    @media (max-width: $md) {
      font-size: 36px;
    }

    &-green {
      color: #598d66;
    }
  }
  &__text {
    margin-top: 20px;
    margin-bottom: 60px;
    color: #86928b;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    @media (max-width: $md) {
      max-width: 300px;
      width: 100%;

      margin-top: 20px;
      margin-bottom: 40px;
    }
    @media (max-width: $sm) {
      max-width: 270px;
      width: 100%;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  &__btn {
    max-width: 227px;
    width: 100%;
    height: 65px;
    display: inline-flex;
    height: 65px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border: 1px solid #598d66;

    color: #598d66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: $md) {
      max-width: 210px;
      width: 100%;
      height: 60px;
    }
    @media (max-width: $sm) {
      max-width: 178px;
      width: 100%;
      height: 50px;

      font-size: 18px;
    }

    &:hover {
      transition: background-color 0.3s ease;
      color: #f4f6f5;
      background: #598d66;
    }
    &:focus {
      color: #598d66;
      border: 1px solid #598d66;
      background: #d4e8d9;
    }
    &:active {
      color: #fff;
      background: #376b44;
    }
  }
}
